.main-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(175,224,224,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */

.header{
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
}
.header-container{
    width: 100%;
    margin-top: 1em;
    /* background-color: #93D1D1; */
    /* border-radius: 0px 0px 36px 36px; */
}
.h1{
}
/* live-drink */

.live-drink{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.live-drink-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.drink{
    width: 60%;
    background-image: url("../assets/CoffeecupFett.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.filling{
    width: 100%;
    height: 80%;
}
.coffee{
    /* width: 100%;
    height: 55%;
    background-color: #551E13;
    margin-top: 7.2em; */
}
.ingredients{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    margin-left: 2%;
    margin-bottom: 4em;
    margin-top: 1em;
}

.ingredient1{
    width: 125px;
    height: 125px;
    border-radius: 100px;
    background-color: #FDFFFF;
}
.ingredient2{
    width: 125px;
    height: 125px;
    border-radius: 100px;
    background-color: #FDFFFF;
}
.ingredient3{
    width: 125px;
    height: 125px;
    border-radius: 100px;
    background-color: #FDFFFF;
}
.ingredient4{
    width: 125px;
    height: 125px;
    border-radius: 100px;
    background-color: #FDFFFF;
}
.ingredient5{
    width: 125px;
    height: 125px;
    border-radius: 100px;
    background-color: #FDFFFF;
}

/* dropdown */
.dropdown-container{
    height: 200px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.dropdown{
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #364751;
    margin-bottom: -24px;
    bottom: 0;
    transition: height 300ms;
    transition: opacity 100ms;
}
.js-resize-dropdown{
    opacity: 1;
    height: 800px;
    transition: height 300ms;
}

/* slider */

.slider{
    height: 31%;
    width: 100%;
    background-color: #93D1D1;
    border-radius: 36px 36px 0px 0px;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.slider-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1004;
}
.slider-elem{
    height: 200px;
    width: 200px;
    margin: 1.5rem;
    
}
.slider-child{
    width: 100%;
    height: 100%;
    background-color: #364751;
    border-radius: 200px;
}
.slick-list{
    height: 100%;
}
.slick-track{
    height: 100%;
}
.slider-circle{
    position: absolute;
    width: 100%;
    height: 350px;
    border-radius: 250px;
    background-image: url("../assets/slide.svg");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    margin-top: 12rem;
}
.label-container{
    position: absolute;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.label{
    height: 100%;
    width: 200px;
    background-color: #FDFFFF;
    border-radius: 25px;
    z-index: 1005;
}
.label-text{
    font-size: 36px;
    line-height: 67px;
    margin: 0;
}
.js-move-label{
    margin-top: 120px;
    transition: margin-top 200ms;
}

/* icons */

.size{
    background-image: url('../assets/cross-size.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}
.temperature{
    background-image: url('../assets/cross-temperature.svg');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
}
.beans{
    background-image: url('../assets/cross-beans.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    /* margin-right: -50%; */
}
.milk{
    background-image: url('../assets/cross-milk.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}
.sugar{
    background-image: url('../assets/cross-sugar.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.done{
    background-image: url('../assets/donedark.svg');
    background-color:  #FDFFFF;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.bounce{
    animation: bounce 1s .5s;
    /* transform: scale(0.85); */
}

@keyframes bounce {
    0% { transform: scale(1.1); opacity: 1 }
    50% { transform: scale(1.6); opacity: .7; }
    60% { transform: scale(0.6); opacity: 1 }
    80% { transform: scale(0.95) }
    100% { transform: scale(0.85) }
  }